{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}

    <h1 class="propertyTitle">Modifier mon mot de passe</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {{ form_start(form) }}
                {{ form_widget (form) }}

                <button type="submit" class="btn btn-primary text-align-center register">Changer le mot de passe</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}