{% extends 'layout.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <h1 class="propertyTitle">Que voulez vous faire ?</h1>

    <div class="container">
        <h1><a class="btn btn-primary homeButton" href="{{ path('lessee_index') }}">Gérer mes locataires</a></h1>
        <h1><a class="btn btn-primary homeButton" href="{{ path('property_index') }}">Gérer mes propriétées</a></h1>
        <h1><a class="btn btn-primary homeButton" href="{{ path('rent_release_index') }}">Gérer mes loyers</a></h1>
    </div>

{% endblock %}
