{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="edit" href="#"><button class="btn text-primary"><i class="fas fa-edit"></i> {{ button_label|default('Enregistrer') }}</button></a>
{{ form_end(form) }}
