{% extends 'layout.html.twig' %}

{% block title %}Nouvelle propriétée{% endblock %}

{% block body %}
    <h1>Créer une nouvelle propriétée</h1>

    {{ include('property/_form.html.twig') }}

    <a href="{{ path('property_index') }}"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>
{% endblock %}
