{% extends 'layout.html.twig' %}

{% block title %}Nouvelle propriétée{% endblock %}

{% block body %}
    <a href="{{ path('property_index') }}"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>

    <h1 class="propertyTitle">Créer une nouvelle propriétée</h1>

    <div class="container">
        {{ include('property/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pdfField') }}
{% endblock %}
