@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

$black: #000000;
* {
  font-size: 16pt;
}

.login {
  margin-top: 15vh;
}

.name {
  font-weight: bolder;
  color: $black!important;
}

.logout {
  font-weight: bolder;
  color: $black!important;
}

.fa-edit {
  margin-left: 2vw;
}

header {
  margin-bottom: 8vh;
}

