{% extends 'layout.html.twig' %}

{% block title %}Récapitulatif{% endblock %}

{% block body %}

    <h1 class="propertyTitle">Récapitulatif de mes revenus en</h1>

    <div class="container">

    </div>

{% endblock %}
