{% extends 'layout.html.twig' %}

{% block title %}Mois - année{% endblock %}

{% block body %}

    <h1 class="propertyTitle">Récapitulatif de mes revenus en mois-année</h1>

    <div class="container">

    </div>

{% endblock %}
