{% extends 'layout.html.twig' %}

{% block title %}Récapitulatif de {{ year }}{% endblock %}

{% block body %}

    <a href="{{ path('resume_page') }}"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>

    <h1 class="propertyTitle">Récapitulatif de mes revenus en {{ year }}</h1>

    <div class="container">

    </div>

{% endblock %}
