<h1>Une demande de reinitialisation de mot de passe a été éffectuée</h1>

<p>Bonjour {{ name }}, cliquez <a href="#">ici</a> si vous avez demandé à réinitialiser votre mot de passe,
    sinon vous pouvez ignorer ce email.</p>
<br>
<small>L'équipe gestImmo.</small>