<h1>{{ userIdentity }} vous invite à vous inscrire sur gestImmo !</h1>

<p>Bonjour {{ lesseeName }}, {{ userIdentity }} vous a invité(e) à rejoindre gestImmo, cliquez
    <a href="{{ url('lesseeRegistration', {'invitationToken': invitationToken}) }}" target="_blank">ici</a> pour nous rejoindre !</p>
<br>
<small>L'équipe gestImmo.</small>