{{ form_start(form) }}
    {{ form_row(form.status) }}
<button class="btn text-primary centerButton"><i class="fas fa-edit"></i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}