{% extends 'base.html.twig' %}

{% block header %} {% endblock %}

{% block body %}
<h1 class="propertyTitle">gestImmo vous informe</h1>

    <div class="container">
        <p>
            <span class="politeness">Bonjour,</span> <br>
            gestImmo vous informe que <a href="{{ url('rent_release_index') }}">vos loyers ont été générés</a>
            et que vous pouvez aller modifier leur status.
        </p>
    </div>
{% endblock %}
